mkdocs
mkdocs-material
# WARNINGが出なくなったらこちらを使う
# mkdocs-obsidian-bridge
git+https://github.com/tadashi-aikawa/mkdocs-obsidian-bridge
mkdocs-awesome-nav
mkdocs-backlinks-section-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-glightbox
mkdocs-material[imaging]
